/* --- put your css here --- */ 
/*Number 2 - change background color*/
body {
  background-color: skyblue;
}
/*3- Change font*/
#igottabeme {
    font-family: Arial, Helvetica, sans-serif;
}
/*4- change left margin*/
.classy {
    margin-left: 10px;
}
/*5 - bottom 50px of margin*/
div {
    margin-bottom: 50px;
}
/* 6 - change span elements*/
span {
    width: 100px;
    height: 50px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: blue;
    background: yellow;
}
/*7 - set display properties for certian span elements*/
.a {
    display: inline;
}
.b {
    display: table;
}
.c {
    display: inline-block;
}
/*9 - change dog location*/
.dog {
    position: relative;
    right: 5px;
    bottom: 150px;
}
/*8 - move cat image positions*/
.cat {
    position: fixed;
    bottom: 0;
    right: 0;  
    z-index: +1;
}
/*10 - use relative and absolute positions to change location of the bird*/
.birddiv {
    position: relative;
    background-color: orange;
    
}
.bird {
   position: absolute;
   left: 250px;
   bottom: 50px;  
}
/*11 - make changes to the nav bar*/
nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: rgb(0,255,0);opacity:0.9;
    padding: 5px;
    font-size: 20px;
}


/* --- pre-existing css --- */
/*12 - added pre-existing css elements*/
.stripey tr:nth-child(even) {
  background-color: gray;
}
.stripey tr:nth-child(odd) {
  background-color: white;
}
.stripey th {
  color: white;
  background-color: black;
}
.mousey td:hover {
  background-color: yellow;
}
.rightey td {
  text-align: right;
}
/*13 - added pre-existing css elements*/
input[type="text"].pinkey:focus {
  background-color: pink;
}